*{ margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
 .flex-row{
     display:flex;
     flex-wrap: wrap;
 }
 .flex-col{
     display:flex;
     flex-direction: column; 
 }
 .aic{
     align-items: center;
 }
 .jcc{
     justify-content: center;
 }
 .clr1{
     color:#eb6b56;
 }
 .clr2{
    color:#b05f6d;
}
.clr3{
    color:#47b39d;
}
.clr4{
    color:#ffc153;
}
.clr5{
    color:white;
}
.sz1{
    font-size: 0.8em;
}
.sz2{
    font-size: 1em;
}
.sz3{
    font-size: 1.2em;
}
.fw600{
    font-weight: 600;
}
 .ut1{
     flex:1;
 }
 .ut2{
    flex:2;
}
.ut3{
    flex:3;
}
.ut4{
    flex:4;
}
.ut5{
    flex:5;
}
.ut6{
    flex:6;
}
.ut7{
    flex:7;
}
.ut8{
    flex:8;
}
.ut9{
    flex:9;
}
.ut10{
    flex:10;
}
.ut11{
    flex:11;
}
 .mr5{margin-right: 5px;
}
.mr10{margin-right: 10px;
}
.mr15{margin-right: 15px;
}
.mr20{margin-right: 20px;
}
.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mb5{
margin-bottom: 5px;
}
.mb5{
margin-bottom: 5px;
}
.mb10{
margin-bottom: 10px;
    }
.mb15{
margin-bottom: 15px;
}

.mb20{
    margin-bottom: 20px;
    }
.container{
    padding:20px;
    background-color: white;
    border-radius: 12px;
}
.primary{
    background-color: #eb6b56;
}
.secondary{
    background-color: #b05f6d;
}
.third{
    background-color: #47b39d;
}
.forth{
    background-color: #ffc153; 
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor:pointer;
}
.avatar2{
    width: 50px;
    height: 50px;
    border-radius: 30%;
    object-fit: cover;
    cursor:pointer;
}



/* Top bar css  */
.topbarContainer{
    display:flex;
    background-color: #eb6b56;
    height:10vh;
    color:white;
    justify-content:center;
    align-items: center;
    position:sticky;
    top:0
}
.topbarLeft{
    flex:3;
    
}
.topbarCenter{
    flex:5;
    
}
.topbarRight{
    flex:4;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:white;
    
}
.topbarImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor:pointer;
}
.logo{
    font-size: 34px;
    margin-left: 20px;
    cursor:pointer;
    font-family: 'Comforter', cursive;
}
.searchBar{
    width:100%;
    display:flex;
    align-items: center;
    height: 30px;
    border-radius: 30px;
    background-color: white;
}
.searchIcon{
    color:black  !important;
    font-size: 20px !important;
    margin-left: 10px;
}
.searchInput{
    width:70%;
    border: none;
}
.searchInput:focus{
    width:70%;
    outline: none;
}
.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor:pointer
}
.topbarIcons{
    display:flex;
    align-items: center;
    justify-content: center;
}
.topbarIcon{
    position:absolute;
    cursor: pointer;
   
    
}
.badgeNotif{
    position: absolute;
    width:15px;
    height: 15px;
    border-radius: 50%;
    color:white;
    background-color: red;
    right:-5px;
    top:-5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* le conteneur principal */
.homeContainer{
    display:flex;
    width:100%;
    background-color: #f4f6f8;
    height:90vh;
    font-size: 1rem;
    font-weight: 400;
    color:#535556;
    line-height: 1.5
}
/* sidebar css */
.sideBar{
    flex:2.5;
   
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(170,179,179);
}
.main{
    flex:7.5;
    overflow-y: scroll;
    
    
}
.rightBar{
    flex:2;
    
}
.sidebarWrapper{
    padding: 20px;
    color:#788085;
    font-size: 18px;
}
.sidebarList{
    padding:0;
    list-style:none;
    margin: 0;
    
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    
}
.sidebarTitle{
    color:black;
    
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
   
}
.sidebarListIcon{
    margin-right: 15px;
}
.sidebarButton{
    width:150px;
    border:none;
    padding:0;
    font-weight: 500px;
    border-radius: 5px;
}   
.sidebarHr{
    margin:20px 0;
}
.socialItem{
    display:flex;
    background-color: white;
    border-radius: 14px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color:black;
    margin:20px 0;
    
}
.socialText{
    font-weight: bold;
}
.socialIcon{
    margin-right: 10px;
}
.socialTitle{
    color: black;
}
/* main css */
.mainWrapper{
    padding:20px;
    
    height: 90vh;;
}
.mainTitle{
    color:black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.projectContainer{
    background-color: white;
   
    border-radius: 12px;
    display:flex;
    margin-bottom: 10px;
   
   
}
.projectIcon{
    flex:1;
    justify-content: center;
    padding: 20px;
}
.projectContent{
    flex:11;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.projectIconContainer{
    background-color: #f4f6f8;;
    height: 60px;
    width:60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectTitle{
    font-size: 20px;
    color:#346abf;
    font-size: 1.25rem;
    cursor: pointer; 
    margin-right: 10px; 
}
.projectContentHeader{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.projectDate{
    font-size: 0.7rem;
    
}
.projectContentStatus{
    display: flex;
    margin-bottom: 10px;
}
.projectContentText{
    margin-bottom: 10px;
}
.projectContentKeyWord{
display: flex;
flex-wrap: wrap;

}
.projectTag{
background-color: #f4f6f8;
border-radius: 20px;
color:#346abf;

display: flex;
justify-content: center;
align-items: center;
margin-right: 5px;
padding: 1px 10px;
margin-bottom: 5px;


}
.projectUpdate{
    position:absolute;
    right:0px;
    cursor: pointer;
}
.projectButton{
    display: flex;
    justify-content: flex-end;
}
.postulerButton{
    border:none;
    padding: 7px;
    background-color: #eb6b56;
    color:white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    
}

/* rightbar css */
.rbWrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.addProject{
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    padding: 7px;
    background-color: #346abf;
    color:white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
/* css de la page details projet */
.dproject{
    flex:7.5;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
}

.dprojectTop{
    display: flex;
    flex-direction: column;
    background-color: #b05f6d;
    padding: 20px 80px;
    color: white;
    padding-bottom: 100px;
    
     
}
.dprojectTopTitle{
    font-weight: 700;
    font-size: 1.3em;
}
.dprojectTopfooter{
    display: flex;
    margin-top: 10px;
    justify-self: space-between ;
}
.statusText,.offers{
    margin: auto 5px;
}
.dprojectCenter{
    background-color: white;
    margin-left:80px;
    margin-right: 20px;
    font-size: 1.1em;
    padding:25px;
    border-radius: 15px 15px 0 0;
    position: relative;
    top:-70px;
    
    
}
.projectTable{
    position: relative;
    top:-70px;
    margin:0px 20px 0 80px;
    margin-top: 1px;
}
.dptab{
   
    width: 100%;
    font-size: 1.2em;
}
.dptaptd1{
    background-color:#f1f2f3 ;
    padding-left: 10px;
    font-weight: 600;
    color:#47b39d;
    

}
.dptaptd2{
    background-color:white ;
    padding: 12px 10px;
    font-weight: 600;  
}
.projectProfile{
position: relative;
background-color: white;
margin-left: 80px;
margin-right: 20px;
top: -70px;
padding:30px 25px  25px 25px;
display: flex;
flex-direction: column;
border-radius: 0 0 15px 15px;
}
.profileText{
    font-weight: 600;
    font-size: 1.25em;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.profileTag{
    background-color: #47B39d;
    border-radius: 20px;
    color:white;
    margin-right: 5px;
    padding: 2px 5px;
}
.offersWrapper{
    position: relative;
    top: -70px;
    margin: 20px 20px 80px 80px;
    display: flex;
    flex-direction: column;
}
.offersTitle{
    font-size: 1.25em;
    font-weight: 600;
    padding-left: 10px;
    color:#47b39d;
}
.offersmContainer{
    background-color: white;
    padding:5px 10px;
    display: flex;
    margin-top: 20px;
    border-radius: 15px;
    flex-direction: column;
    margin-bottom: 10px;
}
.offersmImg{
    flex:1;
    display:flex;
    align-items: center;
}
.offersmBody{
    flex:10;
    display:flex;
    flex-direction:column;
    
}
.offersmDetails{
    flex:3;
    display: flex;
    align-items: center;
    
}
.offersmOwner{
    font-size: 1.1em;
    font-weight: bold;
}
.offersOwnerCity{
    display: flex;
    font-size: 1em;
    margin-top: 5px;
    
}
.city{margin-left: 5px;
font-weight: 300;

}
.offersmContent{
    display: flex;
   justify-content: center;
    
}
.offersmHeader{
    margin-bottom: 10px;
    font-size: 0.8em;
   
}
.iconText{
    
    margin-right: 5px;
}
.separatorDiv{
    margin-right: 10px;
}
.offersmEval{
    display: flex;
}
.star{
    background-color: #ffc153;
    border-radius: 2px;
    font-size: 10px;
    padding: 0 2px;
    margin-right: 2px;
}
.evalCount{
    font-size:10px ;
}
.offersmOwnerImg{
    width: 50px;
    height: 50px;
    border-radius: 15%;
    object-fit: cover;
    cursor:pointer;
}
.dprojectContent{
    display:flex;
}
.dprojectLeftContent{
    flex:1;
    display:flex;
    flex-direction: column;
}
.dprojectMainContent{
    flex:3
}
.card1Img{
    height: 150px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.card1{
    margin-right: 10px;
}
.card1Header{
    position:relative;
    top:-70px;
}
.card1Body{
    background-color: white;
    display:flex;
    flex-direction: column;
    position: relative;
    top:-80px;
    align-items: center;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    
}
.card1Title{
    color:#47b39d;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 1.2em;
}
.card1Text{
    font-size: 1.2em;
    color:black;
    padding-bottom: 10px;
}

.card1Button{
    border:none;
    padding: 7px;
    background-color: #47b39d;
    color:white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    
}
.btnsm{
    border:none;
    padding: 7px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;   
}
.deposerCard{
    position:relative;
    top:-65px;
}
